/*
 * Copyright (C) 2022 Parisi Alessandro
 * This file is part of MaterialFX (https://github.com/palexdev/MaterialFX).
 *
 * MaterialFX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MaterialFX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with MaterialFX.  If not, see <http://www.gnu.org/licenses/>.
 */

* {

    /*light*/
    -mfx-white: #FFFFFF;
    -mfx-white-dark: #F9F6F7;
    -mfx-beige: #FFE8D6;
    -mfx-orange: #FF971D;

    /*dark*/
    -mfx-white-E: #EEEEEE;
    -mfx-ginger: #D65A31;
    -mfx-grey: #393E46;
    -mfx-dark: #222831;

    /*custom*/
    -mfx-white: #EEEEEE;
    -mfx-ginger: #D65A31;
    -mfx-grey: #393E46;
    -mfx-dark: #222831;


    -mfx-red: #ff0000;
}
